*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hotpink;
}

.wraper{
    width: 30vw;
    height: 80vmin;
    background-color: rgb(4, 15, 10);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.game-detailes{
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.play-bord{
    width: 100%;
    height: 100%;
    background-color:  rgb(4, 15, 80);
    display: grid;
    grid-template: repeat(30,1fr)/repeat(30,1fr);
}

.play-bord .food{
    background-color: red;
    border-radius: 50%;
}

.play-bord .head{
    background-color: rgb(243, 238, 238);
}